 <html>
 <head>
 <style>
  span {
     border: 1px solid red;
   }
 
 </style>
 </head>
 <body>
 
 <h2> Hello our friend <span> <%= NAME %> </span> <h2>
 <h3> Please don't forget your password : <%= PASS %> </h3>
 
 
 
 </body>
 </html>