 
 
 
 <html> 
 
  <style>
  h3 span {
     border: 1px solid red;
   }
 
 </style>
 
 <body>
 
 <h1> Thank you our Friend <span> <%=NAME%> </span> </h1>
 
 <h1> for registing </h1>

<h3> I ask allah to bless you </h3> 
 
 
 
 
 </body>
 </html>