<!DOCTYPE html>
<html>
<head>
	<title>Include</title>
	<link rel="stylesheet" type="text/css" href="design/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="design/css/hover.css">
    <link rel="stylesheet" type="text/css" href="design/css/animate.css">
    <link rel="stylesheet" type="text/css" href="design/fonts/font-awesome.css">
    <!--Create By Abdulfattah-->
  
    <link rel="stylesheet" type="text/css" href="design/css/style_indext.css">
    <link rel="stylesheet" type="text/css" href="design/css/style_Cplus.css">
    <link rel="stylesheet" type="text/css" href="design/css/Style_CplusplusQuestion.css">
    <link rel="stylesheet" type="text/css" href="design/css/End_style.css">
    <!--Create By Abdulfattah-->

</head>
<body>


      <script src="design/js/jquery-3.2.1.min.js"></script>
      <script src="design/js/jquery.nicescroll.js"></script>
      <script type="text/javascript" src="design/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="design/js/wow.js"></script>
      <script> new WOW().init();</script>
      <script src="design/js/plagins.js"></script>

</body>
</html>