<!DOCTYPE html>
<html lang="en">
<head>
  <title>bootstrap</title>
<link rel="stylesheet" type="text/css" href="design/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="design/css/style_s.css">
</head>
<body>   
 <script type="text/javascript">
 $(window).load(function(){
  $(".loading").fadeOut("slow");
 });
 </script>
 <nav class="navbar navbar-inverse">
   <a href="/"> <div class="navbar-brand">Abdulfattah</div></a>
 </nav>






<section class="login text-center">
  <div class="col-lg-offset-3 col-xs-6">
   <div class="box">
    <h1>Sign Up</h1>
    <form>
      <input type="text" name="First name" placeholder="First name" class="form-control in01" id="in01">
      <input type="text" name="last name" placeholder="last name" class="form-control in02" id="in02">
      <input type="text" name="Email" placeholder="Enter Your Email" class="form-control in03" id="in03">
      <input type="text" name="text" placeholder="Username" class="form-control in1" id="in1">
      <input type="text" name="text" placeholder="Password" class="form-control in2" id="in2">
      <button class="btn btn-danger" id="btn"> SignUp</button>
    </form>
   </div>
  </div>
</section>









<script type="text/javascript" src="design/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="design/js/bootstrap.js"></script>
<script src="design/js/jquery_singin.js"></script>
</body>
</html>
