<!DOCTYPE html>
<html lang="en">
<head>
  <title>bootstrap</title>
<link rel="stylesheet" type="text/css" href="design/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="design/css/style_s.css">
</head>
<body>   
<script src = 'design/javascripts/socket.io.js' > </script> 

 <script type="text/javascript">
  socket = io() ; 
 window.onload=function(){
  $(".loading").fadeOut("slow");
 };
 </script>
 <nav class="navbar navbar-inverse">
  <a href="/"><div class="navbar-brand">Abdulfattah</div></a>
 </nav>

<section class="login text-center">
  <div class="col-lg-offset-3 col-xs-6 col-xs-offset-3">
   <div class="box">
    <h1>Sign In</h1>
    <div>
      <input type="text" name="text" placeholder="Username" class="form-control in1" id="in1">
      <input type="text" name="text" placeholder="Password" class="form-control in2" id="in2">
      <button class="btn btn-success btn-block btn-lg">SingIn</button>
      <p class="divider" <br>Or</p>
     <a href="/signin/signup" class="btn btn-danger btn-lg" id="btn"> SignUp
     </a>
    </div>
   </div>
  </div>
</section>
<script type="text/javascript" src="design/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="design/js/bootstrap.js"></script>
<script src="design/js/jquery_singin.js"></script>
</body>
</html>
